<p>Already a member?</p>
<a href="/#/supporter-login"><button type="button" name="button">Login</button></a>

<h2>Sign up to be a CSA Supporter</h2>
<form ng-submit="">
  <label>First Name: <input type="text" ng-model="first"></label>
  <label>Last Name: <input type="text" ng-model="last"></label>
  <label>Email: <input type="email" ng-model="email"></label>
  <label>Password: <input type="password" ng-model="password"></label>
  <p>Address:</p>
  <label>Street Address: <input type="text"></label>
  <label>City: <input type="text" ng-model="city"></label>
  <label>State: <input type="text" ng-model="state"></label>
  <label>Zip Code: <input type="text" ng-model="zip"></label>
  <p>Complete your profile, share a little about yourself with the community and the farmers</p>
  <label>What types of CSAs are you interested in?<select name="" ng-model="csaTypes">
    <option ng-model="vegetable">Vegetables</option>
    <option ng-model="fruit">Fruit</option>
    <option ng-model="eggs">Eggs</option>
    <option ng-model="mix">Mix</option>
  </select></label>
  <br>
  <label>Favorite Vegetables<textarea name="name" rows="8" cols="40"></textarea></label><br>
  <input type="submit">
</form>
